#row div{
    border: solid;
    background-color: white;
    flex:1;
}

#row{
    display: flex;
    flex:1;
}

#container{
    width: 960px;
    height:960px;
    display:flex;
    flex-direction: column;
}