#row div{
    padding: 10px;
    border: solid;
    background-color: aqua;
    width :30px;
    height:30px;
    flex:1;
}

#row{
    display: flex;
    flex:1;
}

#container{
    width: 960px;
    height:960px;
    display:flex;
    flex-direction: column;
}