#row div{
    border: solid;
    background-color: white;
    flex:1;
}

#row{
    display: flex;
    flex:1;
    
}

#container{
    width: 500px;
    height: 500px;
    display:flex;
    flex-direction: column;

}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex:1;
    height:100vh;
    
}

html{
    display: flex;
}#row div{
    border: solid;
    background-color: white;
    flex:1;
}

#row{
    display: flex;
    flex:1;
    
}

#container{
    width: 500px;
    height: 500px;
    display:flex;
    flex-direction: column;

}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex:1;
    height:100vh;
    
}

html{
    display: flex;
}